= bettertabs :link, class: 'link', selected: selected_tab do |tab|
  = tab.link :tab1, 'Tab One', url: { action: 'link_tab_1' } do
    Hello World!
  = tab.link :tab2, 'Tab Two', partial: 'tab_content', url: { action: 'link_tab_2' }