<h2>Test Mixed using an ERB template</h2>
<%= bettertabs :erb_test do |tab| %>
  <%= tab.link :link_tab do %>
    Content for the link tab
  <% end %>
  <%= tab.static :static_tab, partial: 'tab_content' %>
  <%= tab.ajax :ajax_tab, partial: 'tab_content' %>
<% end %>