/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bettertabs
*/
body {
  background-color: white;
  margin: 15px;
  font-size: 12px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  width: 524px;
}
div.nav { margin: 1em 1em 2em; }
div.nav a { padding: 0 5px 0 6px; }