body {
  background-color: white;
  margin: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
div.nav { margin: 10px 0 20px 24px; padding: 0; }
div.nav a { padding: 0 5px 0 6px; }